.navbar {
    background-color: #ffffffb8;
    padding: 20px 70px;
    margin: 0px 0;
}

.navbar-brand {
    font-size: 22px;
    color: #0c3061 !important;
    font-weight: 500 !important;
}

img.img-responsive {
    height: 45px;
}

a.nav-link-d {
    font-weight: 400;
    color: #134173 !important;
    margin-left: 15px;
}